# Editores e IDE
.idea/
.vscode/
*.code-workspace

# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# Jupyter
.ipynb_checkpoints/

# Entornos virtuales
.venv/
venv/
env/

# Sistema operativo y archivos temporales
.DS_Store
Thumbs.db
*.swp
*.swo
*~
